body {
  background: #f5f6fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Montserrat", "Roboto", "Roboto Slab", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 50px;
}

.roboto {
  font-family: "Roboto Slab", sans-serif;
}

.azure {
  color: #0290ff;
}

.border-lower {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.montreg {
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 87.5rem;
  margin: auto;
}

.main-app {
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 35px -9px;
  background-color: #f8f9fa;
  padding: 0 0 135px;
}

.bookstore-header {
  background-color: white;
  padding: 1.5rem 3.5rem;
}

.table-class {
  padding: 0 3.5rem 2.31rem;
}

.addbooks {
  padding: 0 3.5rem 1.5rem;
}

.bordertop {
  display: block;
  border-top: 1px solid #e8e8e8;
  padding-top: 2rem;
  color: #888;
  font-size: 1rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.bookssize {
  font-size: 0.813rem;
}

.opacity {
  opacity: 0.5;
}

.roboto-plus {
  width: 11.5rem;
  font-size: small;
}

.oval {
  padding: 0.875rem;
  border: solid 2px #e8e8e8;
  border-radius: 50%;
  width: 3.5rem;
}

.text-box {
  width: 35.5rem;
}

.addbook {
  width: 11.5rem;
}

.bookclass {
  height: 10.625rem;
}

.catselect {
  width: 12rem;
}

.catselect:required:invalid {
  opacity: 0.5;
}

.categoryname {
  font-size: 0.875rem;
}

.titlename {
  font-size: 1.375rem;
}

.authorname {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 100;
}

.progressbtn {
  font-weight: 300;
  font-size: 0.713rem;
  width: 11.9rem;
}

.chaptername {
  font-size: 1rem;
  font-weight: 300;
}

.circularbar {
  width: 100px;
}
